* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color: darkblue;
    --background-color: rgb(155, 156, 129);
    --text-align: center;
}

nav {
    background-color: rgb(142, 169, 250);
    padding: 10px
}

nav a {
    color: var(--color);
    display: block;
    padding: 20px;
}

h1 {
    color: var(--color);
    font-family: Georgia, serif;
    padding: 7px;
}

main {
    background-color: var(--background-color);
    max-width: 840px;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 50px rgb(22, 19, 19);
    float: right;
    margin: 0 0 1rem 1rem;
}

p {
    padding: 7px;
    margin: 1px;
}

aside {
    width: 20rem;
    margin: 1em;
    border: 3px solid rgba(6, 43, 10, 0.2)/* 1 */;
    padding: 1em;
    background-color: var(--background-color);
    color: #333;
    text-align: var(--text-align);
    position: relative;
}


aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    color: rgb(221, 188, 2);
    position: absolute;
    top: 120px;
    left: 80px;
}

footer {
    margin-top: 1em;
    border-top: 1px solid #000;
    text-align: var(--text-align);
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 1);
    padding: 1rem;
    background-color: #eee;
    color: #000;
}

.indent {
    padding-left: 2rem;
}